.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapperUser, .wrapperPost {
  width: 49%;
  margin-left: 10px;
  margin-right: 10px;
}

.wrapperItemUser, .wrapperItemPost {
  display: flex;
  justify-content: space-between;
}

.button {
  margin-left: 50px;
  margin-top: 10px;

}

.wrapperButtonForm{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.wrapperForm {
  width: 300px;
}

.user, .post {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 80%;
  border-bottom: 1px solid silver;
}

.post {
  justify-content: flex-start;
}

.card {
  margin-top: 20px;
}

.wrapperButton {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

 input{
   outline: none;
 }


